@use "../variables" as *;
@use "../mixins" as *;

.banner {
  position: relative;
  height: 223px;
  margin: 40px 100px;
  border-radius: 25px;
  overflow: hidden;

  @include mobile {
    margin: 25px 20px;
    height: 111px;
    border-radius: 10px;
  }
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.banner__title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 48px;
  font-weight: 500;

  @include mobile {
    font-size: 24px;
    padding: 0 16px;
    text-align: left;
    justify-content: flex-start;
  }
}