@use "../variables" as *;

// Banner Component Styles
.banner {
  position: relative;
  height: 223px;
  margin: 40px 100px;
  border-radius: $border-radius-lg;
  overflow: hidden;

  @include mobile {
    margin: 25px 20px;
    height: 111px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    inset: 0;
    text-align: center;
    align-content: center;
    color: $white;
    font-size: $font-size-xxl;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    @include mobile {
      font-size: $font-size-lg;
      padding: 0 16px;
      text-align: left;
      -webkit-text-stroke: 0;
      text-shadow: 0 0 0;
    }
  }

  &__break {
    margin-left: 8px;

    @include mobile {
      margin-left: 0;
      display: block;
    }
  }
}