@use "../variables" as *;

.banner {
  position: relative;
  height: 223px;
  margin: 40px 100px;
  border-radius: $border-radius-lg;
  overflow: hidden;

  @include mobile {
    margin: 25px 20px;
    height: 111px;
  }
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.banner__title {
  position: absolute;
  inset: 0;
  text-align: center;
  align-content: center;
  display: block;
  color: white;
  font-size: 48px;
  font-weight: 700;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  z-index: 1;

  @include mobile {
    font-size: 24px;
    padding: 0 16px;
    text-align: left;
    -webkit-text-stroke: 0;
    text-shadow: 0 0 0;
  }
}

.banner__break {
  margin-left: 8px;
  display: inline;

  @include mobile {
    margin-left: 0;
    display: block;
  }
}