@use "../variables" as *;

// Carousel Component Styles
.carousel {
  position: relative;
  height: 415px;
  border-radius: $border-radius-lg;
  overflow: hidden;

  @include mobile {
    height: 255px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Navigation Buttons
  &__btn {
    position: absolute;
    top: 40%;
    background: none;
    border: none;
    color: $white;
    cursor: pointer;

    &--prev {
      left: 20px;
      transform: rotate(270deg);

      @include mobile {
        left: 6px;
      }
    }

    &--next {
      right: 20px;
      transform: rotate(90deg);

      @include mobile {
        right: 6px;
      }
    }
  }

  &__icon {
    height: 90px;

    @include mobile {
      height: 30px;
    }
  }

  // Position Indicator
  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: $font-size-md;

    @include mobile {
      display: none;
    }
  }
}