@use "../variables" as *;

.carousel {
  position: relative;
  height: 415px;
  border-radius: $border-radius-lg;
  overflow: hidden;

  @include mobile {
    height: 255px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 80px;
    cursor: pointer;

    @include mobile {
      font-size: 30px;
    }

    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px;
    }
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;

    @include mobile {
      display: none;
    }
  }
}