@use "../variables" as *;

.card {
  position: relative;
  height: 340px;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;

  @include mobile {
    height: 255px;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    z-index: 2;

  }
}