@use "../variables" as *;

// Collapse Component Styles
.collapse {

  &__header {
    @include flex-between;
    border-radius: $border-radius;
    overflow: hidden;
    width: 100%;
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    @include mobile {
      border-radius: $border-radius-sm;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    font-family: $font-family;

    @include mobile {
      font-size: 13px;
    }
  }

  &__icon {
    width: 32px;
    transition: transform 0.3s ease;

    @include mobile {
      width: 16px;
    }
  }

  &__content {
    color: $text-color;
    overflow: hidden;
    font-size: $font-size-md;
    padding: 0 20px;

    // Initially collapsed & transition styles
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease, padding 0.3s ease;

    @include mobile {
      font-size: $font-size-sm;
    }
  }

  // Open State Styles
  &--open {
    .collapse__content {
      // Expanded styles & transition styles
      max-height: 500px;
      transform: scaleY(1);
      opacity: 1;
      padding: 15px 20px;
    }

    .collapse__icon {
      transform: rotate(180deg);
    }
  }
}