@use "../variables" as *;


// Footer Styles
.footer {
  background-color: $text-color;
  color: $white;
  text-align: center;
  padding-block: $spacing-xl $spacing-lg;


  &__logo {
    width: 122px;
    margin-bottom: $spacing-md;
  }

  &__text {
    font-size: $font-size-lg;

    @include mobile {
      font-size: $font-size-sm;
    }
  }
}