@use "../variables" as *;

.header {
  @include flex-between;
  margin: 50px 100px;

  @include mobile {
    margin: 25px 20px;
  }

  &__logo {
    height: 68px;

    @include mobile {
      height: 47px;
    }
  }

  &__nav {
    display: flex;
    gap: $spacing-lg;

    @include mobile {
      gap: $spacing-sm;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-size: $font-size-lg;

      @include mobile {
        font-size: $font-size-sm;
        text-transform: uppercase;
      }
    }
  }

  &__link {

    &:hover,
    &--active {
      text-decoration: underline !important;
    }
  }
}