@use "../variables" as *;
@use "../mixins" as *;

.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &__name {
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        text-align: right;

        @include mobile {
            font-size: 12px;
        }
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;

        @include mobile {
            width: 32px;
            height: 32px;
        }
    }
}