@use "../variables" as *;

// Host Component Styles
.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &__name {
        font-size: $font-size-md;
        font-weight: 500;
        color: $primary-color;
        text-align: right;
        line-height: 143%;

        @include mobile {
            font-size: $font-size-sm;
        }
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;

        @include mobile {
            width: 32px;
            height: 32px;
        }
    }
}