@use "../variables" as *;

.rating {
  display: flex;
  gap: 12px;

  @include mobile {
    gap: 6px;
  }

  &__star {
    width: 32px;
    height: 32px;

    @include mobile {
      width: 18px;
      height: 18px;
    }
  }
}