@use "../variables" as *;

.tag {
  background-color: $primary-color;
  color: $white;
  padding: 5px 40px;
  border-radius: $border-radius;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;

  @include mobile {
    border-radius: $border-radius-sm;
    font-size: 10px;
    padding: 3px 10px;
  }
}