@use "../variables" as *;

// About Page Collapses Styles 

.about {

  &__container {
    max-width: 100%;
  }

  &__collapses {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 209px;

    @include mobile {
      margin-inline: 20px;
    }
  }
}

// About Page Banner Styles 

.banner {
  &--about {
    .banner__img {
      filter: brightness(70%);
    }
  }
}