@use "../variables" as *;

// Error Page Styles
.error {
    @include flex-center;
    flex-direction: column;
    gap: 140px;
    color: $primary-color;
    margin-block: 140px;

    @include mobile {
        gap: 110px;
        margin-block: 110px;
    }

    &__title {
        font-size: 288px;
        font-weight: 700;

        @include mobile {
            font-size: 96px;
        }
    }

    &__text {
        font-size: $font-size-xl;
        font-weight: 500;

        @include mobile {
            font-size: $font-size-md;
        }
    }

    &__link {
        font-size: $font-size-md;
        font-weight: 500;
        color: $text-color;

        @include mobile {
            font-size: 14px;
        }
    }
}