@use "../variables" as *;

.home {

  &__cards {
    margin-inline: 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;

    @include mobile {
      margin-inline: 20px;
      grid-template-columns: 1fr;
      padding: 0px;
      background-color: transparent;
      gap: 20px;
    }
  }
}

// Banner Style & Overlay

.banner--home {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #00000020;

  @include mobile {
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #00000040;
  }

  .banner__img {
    position: relative;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
}