@use "../variables" as *;


// Home Page Card Styles

.home {

  &__cards {
    margin-inline: 100px;
    margin-bottom: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: $background-color;
    border-radius: 25px;

    @include mobile {
      margin-inline: 20px;
      margin-bottom: 25px;
      grid-template-columns: 1fr;
      padding: 0px;
      background-color: none;
      gap: 20px;
    }
  }
}

// Home Page Banner Styles  

.banner--home {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #00000020;

  .banner__img {
    filter: brightness(40%);
  }

  @include mobile {
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #00000040;
  }
}