@use "../variables" as *;
@use "../mixins" as *;

.home {
  width: 100%;

  &__cards {
    margin-inline: 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;

    @include mobile {
      margin-inline: 20px;
      grid-template-columns: 1fr;
      padding: 20px;
      background-color: transparent;
    }
  }
}

/* =========================
   BANNER HOME OVERLAY
   ========================= */

.banner--home {
  position: relative;
  overflow: hidden;

  .banner__img {
    position: relative;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none;
  }

  .banner__title {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      justify-content: flex-start;
      padding-left: 20px;
    }
  }
}