@use "../variables" as *;

// Logement Page Display
.logement {
    margin-inline: 100px;

    @include mobile {
        margin-inline: 20px;
    }

    // Logement Header Container Display
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-block: 30px 20px;


        @include mobile {
            flex-direction: column;
        }
    }

    // Logement Title Styles
    &__title {
        font-size: $font-size-xl;
        font-weight: 500;
        color: $primary-color;

        @include mobile {
            font-size: $font-size-md;
        }
    }

    // Logement Location Styles
    &__loc {
        font-size: $font-size-md;
        font-weight: 500;
        margin-top: 5px;

        @include mobile {
            font-size: $font-size-sm;
        }
    }

    // Logement Tags Container Display
    &__tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 25px 0;
    }

    // Logement Host & Rating Container Display
    &__host {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        @include mobile {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    // Logement Collapses Container Display
    &__collapses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 75px;
        margin-bottom: 50px;

        @include mobile {
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
            margin-bottom: 25px;
        }


        // Logement Equipments List Styles
        ul {
            list-style: none;
            padding-left: 0;

            li {
                font-size: 18px;
                line-height: 1.5;

                @include mobile {
                    font-size: 14px;
                }
            }
        }
    }
}