@use "../variables" as *;

.logement {
    margin-inline: 100px;

    @include mobile {
        margin-inline: 20px;
    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $primary-color;

        @include mobile {
            font-size: 18px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 5px;

        @include mobile {
            font-size: 14px;
        }
    }

    &__tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 20px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-block: 30px 20px;


        @include mobile {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__host {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;

        @include mobile {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    &__collapses {
        display: flex;
        flex-direction: row;
        gap: 76px;
        margin-bottom: 100px;

        @include mobile {
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            font-size: 18px;
            line-height: 1.5;

            @include mobile {
                font-size: 14px;
            }
        }
    }
}