// Couleurs
$primary-color: #FF6060;
$background-color: #F6F6F6;
$text-color: #000000;
$white: #FFFFFF;

// Breakpoints
$mobile: 768px;
$desktop: 1240px;

// Espacements
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;

// Border radius
$border-radius: 10px;
$border-radius-lg: 25px;