/* =========================
   VARIABLES
   ========================= */

// Font
$font-family: 'Montserrat', sans-serif;

// Couleurs
$primary-color: #FF6060;
$background-color: #F6F6F6;
$text-color: #000000;
$white: #FFFFFF;

// Breakpoints
$mobile: 768px;
$desktop: 1240px;

// Espacements
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;

// Font sizes
$font-size-sm: 12px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;

// Border radius
$border-radius-sm: 5px;
$border-radius: 10px;
$border-radius-lg: 25px;


/* =========================
   MIXIN
   ========================= */


// Media queries
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

// Flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}